<!DOCTYPE html>
<html>

<head>
  <title> Bit coin chart </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Bit coin chart</h1>

  <div class="top-option">
    <div class="adjust">
      <div class="filter">
        <label for="date-from">From:</label>
        <input type="date" name="from" class="date-from" value="2018-07-22" min="2018-01-01" max="2019-04-18">

        <label for="date-to">To:</label>
        <input type="date" name="date-to" class="date-to" value="2019-04-18" min="2018-01-01" max="2019-04-18">
      </div>
      <div class="currency">
        <select name="currency" id="currency">
          <option value="">Euro</option>
        </select>
      </div>
    </div>

    <div class="values">
      <div class="max">Max:</div>
      <div class="min">Min:</div>
    </div>


  </div>

  <section class="chart">
    <canvas id="myChart" width='600' height="400"></canvas>
  </section>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>